html {
  font-size: 10px;
  /* px 表示“像素（pixel）”: 基础字号为 10 像素 */
  font-family: "Open Sans", sans-serif;
  /* 字体设置为Open sans */
  background-color: #9edce9;
  /*设置页面背景颜色*/
}
h1 {
  font-size: 60px; /*设置一级标题文字大小60像素*/
  text-align: center; /*设置一级标题文字格式居中*/
  margin: 0; /*浏览器对 h1 元素（以及其他元素）应用了默认样式,用该格式来覆盖默认样式，设置外边距为0*/
  padding: 20px 0; /*设置内边距上下20像素，左右不设置*/
  color: #00539f; /*设置h1元素(文本)的颜色*/
  text-shadow: 3px 3px 1px black; /*对元素的文本内容施加阴影*/
}
p,
li {
  font-size: 16px; /*设置段落和列表中项目文字大小16像素*/
  line-height: 2; /*设置行高2*/
  letter-spacing: 1px; /*设置字母间隔1像素*/
}
body {
  width: 1400px;
  /*强制文档体永远保持 1400 像素宽*/
  margin: 0 auto;
  /*外边距上下0，左右平均*/
  background-color: #ff9500;
  /*设置元素body背景颜色*/
  padding: 0 20px 20px 20px;
  /*内边距设置4个值：顺序上，右，下，左*/
  border: 5px solid black;
  /*设置边框的宽度、样式和颜色*/
}
img.参数页面 {
  display: block;
  /*将图片从默认的行级转为块级元素，为下面设置margin做前提*/
  margin: 0 auto;
  /*设置外边框左右平均分配*/
  width: 1400px;
  /*强制将图片宽度放缩到1400像素，保持纵横比*/
}
div.iframe-container {
  width: 1400px;
  /*设置宽度1400像素*/
  height: 880px;
  /*设置高度880像素*/
  overflow: hidden;
  /*隐藏溢出内容*/
  position: relative;
  /*相对定位*/
  margin: 0 auto;
  /*设置外边距上下0，左右平均分配*/
}
iframe {
  display: block;
  /*将iframe从默认的行级转为块级元素，为下面设置margin做前提*/
  margin: 0px auto;
  /*设置外边框上下0像素，左右平均分配*/
  /*height: 800px;
  强制将iframe高度放缩到800像素，保持纵横比*/
  overflow: hidden;
  /*隐藏溢出内容*/
  position: absolute;
  /*绝对定位*/
}
